<section class="o_sicknesslabs"
	{{#if section_id}}
	 id="{{section_id}}"
	{{/if}}>
	<div class="container">
		{{> a_eyebrow }}
		{{> a_h1 }}
		{{> a_h2 }}
	</div>
	<div class="grid">
		{{#each items}}
		<div class="question col-6">
			{{> a_eyebrow }}
			{{> a_h3 }}
			{{> a_description }}
			{{#unless text_only}}
			<div class="answers">
				{{#each ../answers}}
				<button data-val="{{@index}}"
				 aria-pressed="false">{{label}}</button>
				{{/each}}
			</div>
			{{/unless}}
		</div>
		{{/each}}
	</div>
	<div class="diagnosis"
		{{#each answers}}
		 data-verdict-{{@index}}="{{verdict}}"
		{{/each}}>
		<div class="header container">
			<h3 class="a_h3">{{diagnosis_title}}</h3>
			<span class="count">&nbsp;</span>
		</div>
		<div class="bars grid">
			{{#each items}}
			<div class="col-1" data-i="{{@index}}">
				<b>{{letter}}</b>
				<em>{{a_eyebrow}}</em>
			</div>
			{{/each}}
		</div>
		<div class="container">
			<p class="verdict">{{incomplete}}</p>
		</div>
	</div>
</section>
